[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-jsonfield = "*"
python-dotenv = "*"
psycopg2 = "*"
django-cors-headers = "*"
jsonfield = "*"
psycopg = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.11"
