[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-dotenv = "*"
psycopg = "*"
psycopg2 = "*"
jsonfield = "*"
pymongo = "*"
asyncpg = "*"
bcrypt = "*"
cx-oracle = "*"

[dev-packages]

[requires]
python_version = "3.11"
