#root {
    margin: 0 auto !important;
    text-align: center;
    background-color: #022f50;
  }
  
  .container {
    background-color: #ffffff; /* Background color for the container */
    margin: 20px; /* Apply margin */
    padding: 20px;
    border-radius: 5px;
  }
  
  .textarea {
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
    resize: both; 
    max-width: 90%; 
    box-sizing: border-box; 
    overflow-y: auto; 
    vertical-align: top; 
    line-height: 1.5; 
    width: 80%; 
    height: 200px; 
  }
  
.submit-button {
  width: fit-content; /* Adjust width to fit content */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box; 
  align-self: flex-end; /* Align button to the end of the flex container */
}
  
  .form-container {
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }


.input-form {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.input-form input[type='text'] {
  margin-right: 1rem;
  flex-grow: 1;
  line-height: 2;
}

.result-section {
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial;
}

.result-section h2 {
  margin-top: 20px;
  color: white;
  font-family: Arial;
}

.explanation-text {
  padding: 10px;
  border-radius: 5px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
  font-family: Arial;
}