#root {
    margin: 0 auto !important;
    text-align: center;
    background-color: #022f50;
  }
  
  .container {
    background-color: #ffffff; /* Background color for the container */
    margin: 20px; /* Apply margin */
    padding: 20px;
    border-radius: 5px;
  }
  
  .textarea {
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom:10px;
    resize: both; 
    max-width: 90%; 
    box-sizing: border-box; 
    overflow-y: auto; 
    vertical-align: top; 
    line-height: 1.5; 
    width: 80%; 
    height: 200px; 
  }
  
.submit-button {
  width: fit-content; /* Adjust width to fit content */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box; 
  align-self: flex-end; /* Align button to the end of the flex container */
}
  
  .form-container {
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }


.input-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
  max-width: 600px;
  margin:0 auto;
}

.input-form input[type='text'] {
  margin-right: 1rem;
  flex-grow: 1;
  line-height: 2;
}

input[type='submit'] {
  padding: 10px 10px;
  font-size: 16px;
  color: white;
  background-color: #0056b3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  max-width: 100px;
  align-items: right;
}

input[type='submit']:hover {
  background-color: #0056b3;
}

.result-section {
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.result-section h2 {
  margin-top: 20px;
  color: white;
}

.explanation-text {
  padding: 10px;
  border-radius: 5px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}

pre {
  background-color: #000;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 4px;
  white-space: pre-wrap; /* Ensures the text wraps within the box */
}

.result-section h2, .input-section h2 {
  margin-top: 0;
  background-color: #022f50;
}