/*Set Global CSS Here*/

@font-face {
    font-family: Railway;
    src: url(../assets/fonts/Raleway/Raleway-VariableFont_wght.ttf) format("truetype-variations");
    font-weight: 100 1000;
}

h1, h2 {
    font-family: Railway, sans-serif;
    font-variation-settings: 'wght' 650;
}

p {
    font-family: Inter, sans-serif;
}



