
.dropdown {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    height: 100%
}

.dropdown button {
    height: 100%;
    padding: 0;
    border-radius: 0;

    background-color: transparent;
}

.dropdown-container {
    position: absolute;
    top: 100%;
    padding-top: 5px;
    z-index: 1;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    min-width: 150px;

    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;

    background-color: #F6F6F6;
}

.dropdown-content button {
    aspect-ratio: auto;
    border-radius: 0;
}

.dropdown-content button img {
    height: 1em;
    width: 1em;
}

.dropdown-content .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding: 0 15px;

    height: 2em;
}