
.tab-dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /*justify-content: center;*/

    height: 100%
}

.tab-dropdown button {
    height: 100%;
    aspect-ratio: 1.0;
    padding: 0;
}

.tab-dropdown button img {
    height: 80%;
    width: 100%;
    transform: rotate(90deg);
}

.dropdown-container {
    position: absolute;
    margin-top: 35px;
    margin-right: 10px;
    margin-bottom: 2px;
    z-index: 1;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    min-width: 150px;

    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content button {
    aspect-ratio: auto;
}

.dropdown-content button img {
    height: 15px;
    width: 15px;
}

.dropdown-content .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding: 0 15px;

    height: 30px;
}