
.tab-dropdown {
    height: 70%;
}

.tab-dropdown .tab-dropdown-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    aspect-ratio: 1.0;

    padding: 0;
    border-radius: 5px;
}

.tab-dropdown .tab-dropdown-icon img {
    height: 80%;
    width: 100%;
}

.tab-dropdown .tab-dropdown-button {
    border-radius: 5px;
    height: 100%;
    padding: 0;

    background-color: transparent;
}

.tab-dropdown .row img {
    height: 1em;
    width: 1em;
}

.tab-dropdown .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding: 0 15px;

    font-size: 1.0em;

    height: 2em;
    min-width: 150px;
}