
.tab-window-bar {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 1.75em;
    min-height: 1.75em;

    width: 100%;
    background-color: #F6F6F6;
}

.tab-window-bar .tabs {
    display: flex;
    flex-direction: row;
    justify-content: left;

    overflow-y: hidden;
    overflow-x: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;

    min-width: 0;
    height: 100%;
}

.tab-window-bar .tabs::-webkit-scrollbar {
    display: none;
}

.tab-window-bar .tabs .divider {
    width: 1px;
    height: 100%;
    background-color: #D8D8D8;
}

.tab-window-bar .buttons {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    height: 100%;

    border-bottom: #D8D8D8;
    border-bottom-width: 1px;
    border-left: #D8D8D8;
    border-left-width: 1px;

    border-style: solid;
}

.tab-window-bar .buttons .buttons-left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    min-width: 0;
    height: 100%;
}

.tab-window-bar .buttons .buttons-right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;

    flex-grow: 1;

    height: 100%;
    padding: 0 4px;
}

.tab-window-bar button {
    border: none;
    border-radius: 0;
    background-color: transparent;
}

.tab-window-bar button:hover {
    background-color: #ffffff;
}

.tab-window-bar button:focus,
.tab-window-bar button:focus-visible {
    outline: none;
}