
.tab-window-bar {
    display: flex;
    flex-direction: row;

    height: 30px;
    width: 100%;
    background-color: #F6F6F6;
}

.tab-window-bar .tabs {
    display: flex;
    flex-direction: row;
    justify-content: left;
    min-width: 0;
}

.tab-window-bar .buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    flex-grow: 1;
}