
.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;

    width: 100%;
    padding: 1rem;

    color: white;
    background-color: #1e40af;
}

.nav-container .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    font-size: 1.25em;
    font-family: "Segoe UI", sans-serif;
    font-weight: bolder;
    text-transform: uppercase;

    cursor: pointer;
}

.nav-container .logo img {
    height: 1.5em;
}

.nav-container .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    flex-grow: 1;
}

.nav-container .links span {
    padding: 0.5em 1em;
    cursor: pointer;
    font-size: 1em;
    border-radius: 6px;
}

.nav-container .links span:hover {
    background-color: #121826;
}

.nav-container .account-icon {
    width: fit-content;
}
