
/*html, body {margin: 0; height: 100%; overflow: hidden}*/

.translator-page {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
}

.page-content {
    display: flex;
    flex-direction: row;

    overflow-y: auto;
    overflow-x: hidden;

    height: 100%;

    background-color: #E0EEFF;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    height: 100%;
    /*width: 250px;*/

    background-color: #F6F6F6;
}

.code-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    overflow-y: auto;
    overflow-x: hidden;

    height: 100%;
}

.tab-container {
    display: flex;
    padding: 6px;
    flex-grow: 1;
    background-color: #E0EEFF;
}

.tab-split-container-horizontal {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    min-height: 6px;
    min-width: 6px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tab-split-container-vertical {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    min-height: 0;
    min-width: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.tab-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: #ffffff;
    border-radius: 6px;

    min-height: 0;
    min-width: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.console {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    overflow-y: auto;
    overflow-x: hidden;

    /*height: 200px;*/
    background-color: #ffffff;
}


/*Split resizing css*/
/*github: https://github.com/nathancahill/split/tree/master/packages/splitjs*/
.gutter {
    background-repeat: no-repeat;
    background-position: 50%;
}

/*Set Gutter Images*/
.gutter.gutter-horizontal {
    background-image: url('../assets/grips/vertical.png');
    cursor: col-resize;
    width: 6px;
}

.gutter.gutter-vertical {
    background-image: url('../assets/grips/horizontal.png');
    cursor: row-resize;
    height: 6px;
}

/*Set Gutter Colors*/
.page-content .gutter {
    background-color: #F6F6F6;
}

.code-content .gutter {
    background-color: #ffffff;
}

.tab-container .gutter {
    background-color: #E0EEFF;
}

